<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930840547650-o7nohnicir8iu4adsqn5otlcl6eifogi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84649663092-nmh7ifidlidk1h5ilf4kfk0p28ooa991</string>
	<key>API_KEY</key>
	<string>AIzaSyBQpkoo3spCBV_rymB2mjGXS3opoyILfJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>84649663092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Thinkers.MotionFlix</string>
	<key>PROJECT_ID</key>
	<string>motionflix-e15df</string>
	<key>STORAGE_BUCKET</key>
	<string>motionflix-e15df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:84649663092:ios:1c55df45575cb2bf</string>
	<key>DATABASE_URL</key>
	<string>https://motionflix-e15df.firebaseio.com</string>
</dict>
</plist>
